---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CardNoticia from "../components/CardNoticia.astro";
import CarruselImg from "../components/Carrusel.astro";
---

<Layout title="Lima limon - Home">
    <Header />
    <main>
        <section id="card-galeria">
            <div class="text-card">
                <h3>Galería</h3>
            </div>
            <CarruselImg />
        </section>
        <section id="card-noticia">
            <div class="text-card">
                <h3>Noticia</h3>
                <a href="pages/noticia.html">Ver más</a>
            </div>
            <CardNoticia />
        </section>
    </main>
    <Footer />
</Layout>

<style>
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
    }

    #card-galeria {
        width: 620px;
    }

    .text-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        height: 25px;
        color: black;
    }

    .text-card a {
        color: black;
        font-weight: 700;
    }

    #card-noticia {
        width: 620px;
        height: 330px;
    }
</style>
