---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import CardNoticia from "../components/CardNoticia.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Lima limon - Noticia">
    <Header />
    <div class="container-noticia">
        <main>
            <h1>Noticia</h1>
            <CardNoticia />
        </main>
    </div>
    <Footer />
</Layout>

<style>
    .container-noticia {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main {
        max-width: 620px;
        display: grid;
        justify-items: center;
    }

    h1 {
        margin: 15px 0;
    }
</style>
