---
import { Image } from 'astro:assets';
import Logo from '../assets/Logo.svg';
---

<header>
    <Image src={Logo} alt="Imagen del logo"/>
</header>

<nav>
    <a href="../pages/index.astro/">Inicio</a>
    <a href="../pages/evento.astro/">Evento</a>
    <a href="../pages/noticia.astro/">Noticia</a>
    <a href="../pages/contact.astro/">Contacto</a>
    <a href="../pages/register.astro/">Registrarse</a>
</nav>

<style>
    header {
        background: #a04cbe;
        width: 100%;
        height: 23rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header img {
        width: 400px;
    }

    nav {
        background: #8e39ad;
        position: sticky;
        top: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    nav a {
        color: black;
        text-decoration: none;
        font-size: 20px;
        padding: 12px;
    }
</style>
